/v3/02/Tehtävä1/nbproject/private/
/v3/02/Tehtävä2/nbproject/private/
/v3/02/Tehtävä2/build/
/v3/02/Tehtävä3/nbproject/private/
/v3/02/Tehtävä3/build/
/v3/02/Tehtävä4/nbproject/private/
/v3/02/Tehtävä4/build/
/v4/02/Tehtävä1/nbproject/private/
/v4/01/Tehtävä1/nbproject/private/
/v4/01/Tehtävä1/build/
/v4/01/Tehtävä2/nbproject/private/
/v4/01/Tehtävä2/build/